
.logincard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  heigth: 60%;
  width: 50%;
  border-radius:10px;
  display: flex;
  justify-content: space-around;
}
.loginbox {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center
}
#outlined-basic{
    margin-top:10px;
}
.loginimg{
    width:48%;
    /* border-style:solid; */
   
}
.loginform{
    width:48%;
    /* border-left: 2px solid black; */
}