.nvbar{
    width:1300px;
    /* background-color:black; */
}
.white {
    font-size:20px;
    font-weight:500;
    color:#6f7070;
  }
  .book{
    font-size:20px;
    font-weight:500;
    color:#6f7070;
  }